@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding-top: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 0px;
    color:#149429;
    text-decoration: none;
    background-color: #eceff0;
    border-radius: 60%; 
}

/* headings */

h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #252525;     
}

#logo {
    font-size: 300%;
    text-transform: uppercase;
    margin:10px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px; 
    line-height: 35px; 
    margin-bottom: 0px;
}

#menu li {
    text-decoration: none;
    float: right;  
    list-style-type: none;
    margin-right: 30px;
    margin-top: 35px;
    line-height: 10px;
}

#menu a:hover {
    background: rgba(220, 255, 23, 0.459);
    color: #175023; 
}

/* hero image and cover text */

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/Self-Build-Cover-Image.jpeg") no-repeat center center;
    background-size: cover;
    

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text, #cover-text h2 {
    color: rgb(255, 255, 255);
    text-transform:none;
}

#cover-text {
    font-size: 60%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 80px;
    line-height: 250%;

    width: 600px;
    height: 300px;
    
    padding: 20px 20px 0px 20px;

    background-color: rgba(199, 238, 24, 0.445);
    
    bottom: 350px;
    right: 500px;

    position: absolute;
}

/* Details section */

#details {
    color:#0a0a0a;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Topic section */

#topics {
    background-image: url('../images/building-blocks.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#topics div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    }

/* footer */

footer {
    height: 100px;
}

.tools {
    text-align: center;
}

.tools > li {
    display: inline;
}

.tools i {
    font-size: 160%;
    margin: 1%;
    padding: 5%; 
    color: #0a0a0a;
}