@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding-top: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 0px;
    color:#149429;
    text-decoration: none;
    background-color: #eceff0;
}

/* headings */

h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #252525;     
}

#logo {
    font-size: 300%;
    text-transform: uppercase;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px; 
    line-height: 35px; 
}

#menu li {
    text-decoration: none;
    float: right;  
    list-style-type: none;
    margin-right: 30px;
    margin-top: 35px;
    line-height: 10px;
}

#menu a:hover {
    background: rgba(220, 255, 23, 0.459);
    color: #175023; 
}

/* hero image and cover text */

#hero-image {
    height: 200px;
    width: 80%;
    background: url("../images/Self-Build-Cover-Image.jpeg") no-repeat center;
    background-size: cover;
    padding: 200px;
    

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text h2 {
    color: rgb(255, 255, 255);
    text-transform:none;
}

#cover-text {
    font-size: 60%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 80px;
    line-height: 250%;

    width: 550px;
    height: 140px;
    
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;

    background-color: rgba(199, 238, 24, 0.445);
    
    bottom: 200px;
    right: 300px;

    position: absolute;
}

/* Details section */

#details {
    color:#0a0a0a;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#details p {
    text-align:left;
    margin: 50px;
}

/* Topic section */

#topics {
    background-image: url('../images/building-blocks.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#topics div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 500px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    }

#topics div h2 {
    color: #fafafa;
    line-height: 90px;
    display: inline;
    }

#stages li strong {
    color: #fafafa;
}

#planning-permission {
    color: orange;
    padding: 70px;
    font-weight: 80%;
    text-align: center;
    text-decoration: none;
}

/* Experience Gallery Images */

.plans li h2 {
    text-align: center;
}

.plans {
    display: inline;
}


#plans {
    background-image: url(../images/Plans.PNG);
    background-size: 600px;
    width: 600px;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 350px;
   }

#foundation-level {
    background-image: url(../images/foundation-level.JPG);
    background-size: 600px;
    width: 600px;
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 350px;
}

/* footer */

footer {
    height: 100px;
}

.tools {
    text-align: center;
}

.tools > li {
    display: inline;
}

.tools i {
    font-size: 160%;
    margin: 1%;
    padding: 5%; 
    color: #0a0a0a;
}

footer div { 
    color: black;
    margin-top: 50px;
    text-align: center;
}

/* Media queries*/

/* For larger to medium screens size from 700px wide and down*/

@media screen and (max-width: 700px) {
    #cover-text {
        left: 0;
        bottom:0;
    }
}