@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin:0;
    padding:0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#149429;
}

/* headings */

h2 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #252525;     
}

#logo {
    font-size: 300%;
    text-transform: uppercase;
    margin-left: 300px;
    margin-top: 70px;
    line-height: 450px;
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px; 
    line-height: 35px;  
}

#menu li {
    float: right;  
    list-style-type: none;
    margin-right: 30px;
    margin-top: 0px;
    line-height: 10px;
}

#menu a:hover {
    background: rgba(17, 65, 25, 0.7);
    color: #ffffff; 
}

/* hero image and cover text */

#cover-text, #cover-text h2 {
    color: #fff;
    text-transform:none;
}

#cover-text {
    font-size: 60%;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 80px;
    line-height: 270%;

    width: 250px;
    height: 200px;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    background-color: rgba(17, 65, 25, 0.7);
    
    bottom: 20px;
    right: 300px;

    position: absolute;
}

#contractors:hover {
    color:#b4ceb8;
    text-decoration: none;
}
